# OS files
.DS_Store

# R and RStudio files
*.Rproj
.Rproj.user
*.RDS
*.html
*.png
*.tiff
*.csv
*.log
*.basex
.RData
*_cache/*
*.Rhistory
*.zip
mtdownload8300_2023.07.24_16.41/_From Snyder, Abigail C/database_basexdb 2/__MACOSX/._database_basexdb
